@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.inner-image {
    background: url("../assets/About PlaceHolder.png") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    min-height: 300px;
}
.main-explore {
    position: relative;
    top: -100px;
}
.main-explore h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 700;
}
.spacing {
    background: #FFF;
    padding-bottom: 20px;
    color:#555454;
}

.whats-new {
    background-color: #f2f2f2;
    padding: 15px;
}
.main-explore .overview {
    background-color: #e74902;
    color: #f2f2f2;
    padding: 15px;
}

.main-explore .overview h3{
    color: #f2f2f2;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
.nav-pills .nav-link.active {
    color: #e74902 !important;
}
.nav-pills .nav-link {
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
}
.tab-pane h3 {
    margin-bottom: 15px;
    margin-top: 20px;
}
.tab-pane img {
    width: 100%;
    margin-top: 15px;
}
.text-muted {
    color: #000 !important;
    font-weight: 700;
    font-size: 16px;
}
.tab-content-section {
    padding-left: 0;
}
.card-group {
    margin-bottom: 10px;
}
.card {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}
.card-footer {
    border: 1px solid rgba(0,0,0,.125)
}
.media {
    margin: 20px;
}
.media img {
    width: 100%;
    max-width: 210px;
    margin-top: 0;
}
.media-listing {
    margin-top: 15px;
}
.media-body h3 {
    font-size: 17px;
    margin-bottom: 5px !important;
}
.media-body a{
    color: #e74902;

}
.media-body a:hover{
    color: #e57f50;
    text-decoration: none;
}
.media p {
    margin-bottom: 0;
}
.media-body p:first-child{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
}
@media (min-width: 991px){
    .main-explore .spacing {
        margin: 0 100px;
    }
}
@media (max-width: 991px){
    .main-explore{
        top:0;
    }
}
@media (max-width: 575px){
    .main-explore h3 {
        font-size: 12px;
    }
    .tab-pane h3 {
        font-size: 13px;
        margin-top: 15px;
    }
    .tab-pane p{
        text-align: left;
    }
}
@media (max-width: 500px){
    .media{
        display: block;
    }
    .media img{
        max-width: 100%;
    }
    .media-body p:first-child {
        margin-top: 10px; 
    } 
}