*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-image{
    background: url("../assets/img2.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    min-height: 750px;
}

.wrapper{
    display: grid;
    background-color: #ee6767;
    width: 900px;
    max-width: 100%;
    height: 90vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(3, 1fr);
}

.box{
    background-color:#2ad8f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.box.one{
    grid-column: span 3;
    grid-row :span 3;
    
}
.box.two{
    grid-column: span 2;
    grid-row :span 2;
    
}
.box.three{
    grid-column: 1 / span 2;
    grid-row : 4 / span 4;
    

}
.box.four{
    grid-column: 3 / span 1;
    grid-row : 4 / span 1;
    

}
.box.five{
    grid-column: 4 / span 2;
    grid-row : 3 / span 2;
    

}
.box.six{
    grid-column: span 3;
    grid-row : span 2;
    

}
.wrapper img{
    max-width: 100%;
}
