@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.inner-image {
    background: url("../assets/contact.png") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    min-height: 300px;
}
.main-explore {
    position: relative;
    top: -100px;
}
.main-explore h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 700;
}
.spacing {
    color:#555454;
}

.whats-new {
    background-color: #f2f2f2;
    padding: 15px;
}
.main-explore .overview {
    background-color: #e74902;
    color: #f2f2f2;
    padding: 15px;
}

.main-explore .overview h3{
    color: #f2f2f2;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
.nav-pills .nav-link.active {
    color: #e74902 !important;
}
.nav-pills .nav-link {
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
}
.tab-pane h3 {
    margin-bottom: 15px;
    margin-top: 20px;
    color: #e74902;
}
.tab-pane a{
    text-decoration: none;
    color: #e74902;

}
.tab-pane a:hover{
    color:#e57f50;
}
.tab-pane img {
    width: 100%;
    margin-top: 15px;
}
.tab-content-section {
    padding-left: 0;
}
.contact-cover{
    /* background: url("http://via.placeholder.com/100X100") center center no-repeat; */
    background: url("../assets/mapcontact.png") center center no-repeat;
    background-size: cover;
}
.googlemap{
    margin-top: 30px;
}
.contact-head h3{
    font-family: Lato;
    font-size: 24px;
    color: #E74902;
    margin-top: 15px;
    margin-bottom: 15px;
}
.contact-head h3:first-child{
    color: #4F4F4F;
}
.contact-head p {
    color: #E74902;
    font-size: 18px;
}
.contact-form{
    margin-bottom: 40px;
} 
label {
    color: #4F4F4F;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 10px 15px;
}
.form-control:focus {
    border-color: #E74902;
    outline: 0;
    box-shadow: none;
}
.submit-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.submit-btn p {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 15px;
}
@media (min-width: 991px){
    .main-explore .spacing {
        margin: 0 100px;
    }
}
@media (max-width: 991px){
    .main-explore{
        top:0;
    }
}
@media (max-width: 575px){
    .main-explore h3 {
        font-size: 12px;
    }
    .tab-pane h3 {
        font-size: 13px;
        margin-top: 15px;
    }
    .tab-pane p{
        text-align: left;
    }
    .contact-head h3 {
        font-size: 18px;
    }
    .contact-head p {
        text-align: left;
    }
}
@media (max-width: 442px) {
    .submit-btn {
        display: block;
    }
    .submit-btn p{
        margin-left: 0;
        margin-top: 10px;
        text-align: left;
    }
}
@media (min-width: 768px) {
    .form-control {
        width: 80%;
    }
}
