@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

.inner-image {
    background: url("../assets/contact.png") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    min-height: 300px;
}
.main-explore {
  position: relative;
  top: -100px;
}
.main-explore h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 700;
}
.spacing {
  color: #555454;
  background-color: #fff;
}

.whats-new {
  background-color: #f2f2f2;
  padding: 15px;
}
.main-explore .overview {
    background-color: #e74902;
    color: #f2f2f2;
    padding: 15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
.nav-pills .nav-link.active {
    color: #e74902 !important;
}
.nav-pills .nav-link {
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
}
.tab-pane h3 {
  margin-bottom: 15px;
  margin-top: 10px;
} 
.holder{
  padding-bottom: 15px;
}
.card{
  margin: 15px 0;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.2);
}
.questions h3 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.questions p {
  font-size: 18px;
}
.card-header {
  padding: 15px 0;
  background-color: transparent;
  border-bottom: none;
}
.btn-link {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 0;
  font-size: 20px;
}
.card-header .btn-link{
  color: #e74902;
  text-decoration: none;
}
/* opened */
.btn-link[data-toggle="collapse"]:after{
  position: absolute;
  color:#e74902;
  content: '\f106';
  font-size: 22px;
  line-height: 35px;
  float: right;
  right: 20px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  transition: all 0.5s ease-in-out;
}
/* default */
.btn-link[data-toggle="collapse"].collapsed:after{
  transform: rotate(180deg);
}
.btn-link[data-toggle="collapse"].collapsed{
  color: #000;
}
.card-header .btn-link:hover{
  text-decoration: none;
}
.card-body {
  padding: 15px;
  padding-top: 0;
}

@media (min-width: 991px){
  .main-explore .spacing {
      margin: 0 100px;
  }
}
@media (max-width: 992px){
  .main-explore {
      top: 0;
  }
}
@media (max-width: 575px){
  .main-explore h3 {
    font-size: 12px;
  }
  .info h3 {
    font-size: 20px;
  }
  .info p{
    font-size: 15px;
  }
  .questions h3 {
    font-size: 15px;
  }
}
@media (max-width: 768px){
  .btn-link[data-toggle="collapse"].collapsed, .card-header .btn-link:hover {
    padding-left: 35px;
  }  
  .btn-link[data-toggle="collapse"]:after, .btn-link[data-toggle="collapse"].collapsed:after{
    right: unset;
    left: 10px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 16px;
  }
}
