*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    background-color: rgb(241, 234, 189);
    width: 1100px;
    max-width: 1800px;
    max-height: 335px;
    height: 90vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

.box{
    background-color: #2ad8f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box.one{
    grid-column: span 6;
    grid-row :span 2;
    background-image: url("/assets/cars1.jpg");
}
.box.two{
    /* 3,1 */
    grid-column: 7/span 4;
    grid-row: span 1;
    background-image: url("/assets/cars2.jpg");
}
.box.three{
    grid-column: 11 / span 2;
    grid-row: 1 / span 1;
    background-image: url("/assets/mountains.jpg");
}
.box.four{
    grid-column: 13 / span 2;
    grid-row: 1 / span 1;
    background-image: url("/assets/cars3.jpg");
}
.box.five{
    grid-column: 7 / span 2;
    grid-row: 2 / span 1;
    background-image: url("/assets/lights.jpg"); 
}
.box.six{
    grid-column: 9/span 2;
    grid-row: span 2;
    background-image: url("/assets/ocean.jpg");
    height: 162px;
}
.box.seven{
    grid-column: 11 / span 4;
    grid-row: 2;
    background-image: url("/assets/lights.jpg");
}

