@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500,600,700,800');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #F2F2F2;
} 
.loginpage{
    background-color: #F2F2F2;
    background-size: cover;
    height: 100%;
    min-height: -webkit-fill-available;
    padding-left: 0;
    padding-right: 0;
}
.left-items{
    background: url("../assets/overlay.png");
    background-size: cover;
    min-height: 100vh;
}
.right-items{
    background: url("../assets/mapcontact.png");
    background-size: cover;
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-12{
    margin-left: 180px;
}
input[type=text], select, textarea {
    width: 80%;
    padding-right: 0px;
    border: none;
    border-bottom: 1px solid;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 30px;
    resize: vertical;
}
.container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
}
input[type=submit] {
    background-color: #E74902;
    color: white;
    padding: 20px 80px 20px 80px;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #e57f50;
}
.inputbg{
    background-color: transparent;
}
.form-content{
     padding-left: 60px;}

@media(max-width:425px){
    input[type=submit]{
    padding-left: 27px ;
    padding-right: 27px ;
    padding-top: 10px ;
    padding-bottom: 10px;}

    .form-content{ padding-left: 20px;}

}
.form-content p a {
    text-decoration: none;
    color: rgba(90, 90, 90, 0.7953);
}
.form-content p {
    margin-top: 15px;
}
@media(min-width:767px){
    .left-items {
        max-height: 10vh !important;
    }
}
/* url("../assets/Pattern.png") center center no-repeat; */
