@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400 !important;
    background-color: #F2F2F2;
} 
p {
    font-size: 16px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
.padding-top{
    padding-top: 30px;
}
.justify{
    text-align: justify;
}
.steps h6{
    color:#E74902;
    font-size: 20px;
    font-weight: 800;

}
.top-header {
    background-color: #E74902;
    padding: 7px 15px;
}

.top-header p {
    float: right;
    color: #f2f2f2;
    margin-bottom: 0;
    font-size: 17px;
}
.header-image {
    padding-left: 0;
    padding-right: 0;
}
.carousel-caption {
    left: 15%;
    right: initial;
    top: 40%;
}
.carousel-caption h5 {
    font-size: 45px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 50px;
    text-align: left;
    font-weight: 300;
    font-family: 'Lato';
}
.carousel-control-next-icon {
    background-image: url('../assets/Group.png');
    width: 50px;
    height: 50px;
}
.carousel-control-prev-icon {
    background-image: url('../assets/back-arrow-circular-symbol.png');
    width: 50px;
    height: 50px;
}
.navbar {
    padding: 15px 0px;
    z-index: 9999;
}
.nav-link {
    color: #FFF !important;
    font-size: 18px;
    font-weight: 700;
}
.nav-right a {
    text-transform: uppercase;
    color: #FFF;
    padding: 8px 45px;
}
.nav-right a:first-child{
    border: 1px solid #fff;
}
.nav-right a:nth-child(2){
    border: none;
    background-color: #E74902;
    margin-right: 0px;
    margin: 0;
}

.apply-section .apply{
    background-color: #f2f2f2;
    padding: 30px;
}
.apply .apply-content {
    text-align: center;
    padding: 10px;
}
.apply-content p{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.apply2 {
    background-color: rgba(231, 73, 2, .03);
    padding: 50px 15px 0;
}
.apply-service {
    margin-bottom: 20px;
}
.apply-service img {
    max-width: 100%;
    margin-bottom: 15px;
}
.apply-service .col-sm-3 {
    text-align: center;
}

.btn-primary {
    background-color: #E74902;
   border-color: #E74902;
    color: #FFF;
    border-radius: 0;
    padding: 8px 45px;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.btn-primary:hover {
    background-color: #E74902;
    border-color: #E74902;
    transform: scale(1.03);
}
.btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #E74902;
   border-color: #E74902;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.tour {
    background-color: #E74902;
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
.tour p {
    color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 700;
    margin: 0 30px 0 50px;
}
.choose-us {
    background-color: rgba(231, 73, 2, .03);
    padding-top: 50px;
    padding-bottom: 50px;
}
.choose-us h3 {
    margin-bottom: 15px;
}
.choose-us .statement {
    margin-top: 25px;
    padding:0 15px;
}
.mission-holders, .camera {
    display: flex;
    align-items: center;
}
.mission-holders h3 {
    margin-top: 15px;
    margin-right: 10px;
}
.gallery {
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h4 {
    margin-top: 15px;
    color: #8d8a8a;
    margin-left: 15px;
}

.footer-links {
    padding-top: 50px;
    padding-bottom: 40px;
    background: url("../assets/Rectangle 2.png") center center no-repeat;
    background-size: cover;
    height: 100%;
}
.footer-links h4 {
    color: #f2f2f2;
    font-size: 24px;
}
.footer-links a{
    color:white;
}
.footer-lists {
    list-style: none;
    padding-left: 0;
}
.footer-lists li {
    color: #f2f2f2;
    font-size: 15px;
    line-height: 30px;
}
.copyright {
    background-color: #4F4F4F;
    padding: 30px 15px 20px 15px;
}
.copyright p {
    color: #f2f2f2;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
}
.right-reserved {
    text-align: center;
    font-size: 15px;
}
.right-reserved p{
    font-size: 12px;
    margin-top: 7px;
}
@media (max-width: 425px) {
    .top-header p {
        font-size: 14px;
    }
}
@media (min-width: 361px) {
    .nav-right a:first-child{
        margin: 0 10px 10px 0;
    }
    .nav-right a:nth-child(2){
        margin: 0 0px 10px 0;
    }
}
@media (max-width: 361px) {
    .nav-right a {
        margin: 0 10px 10px 0;
    }
}
@media (min-width: 565px) {
    .apply-service .col-sm-9 {
        padding-left: 0;
    }
}
@media (min-width: 575px) {
    .tour {
        position:relative;
        bottom: 0;
    }
    .apply2 {
        position: relative;
    }
}
@media (max-width: 900px) {
    .apply .apply-content {
        margin-top: 0;
    }
    .copyright p {
        font-size: 15px;
    }
    .footer-links h4 {
        font-size: 26px;
    }
}
@media (max-width: 565px) {
    .apply-service .col-sm-9 h4, p {
        text-align: center;
    }
    .choose-us p {
        text-align: left;
    }
    .tour p {
        font-size: 16px;
        margin: 0 30px 0 0;
        text-align: left;
    }


}
@media (min-width: 992px) {
    .carousel {
        top: -88px;
        margin-bottom: -88px;
    }
    a.navbar-brand{
        margin-top:-30px;
    }
    a.navbar-brand img{
        margin-bottom:-50px;
    }
}
@media (max-width: 992px) {
    .navbar-mobile-bg {
        background: #E74902;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }

    nav > button{
        position:absolute;
        left:10px;
        top:50px;
    }
    nav a.navbar-brand {
        margin:auto;
    }

}
@media (max-width: 768px) {
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }
    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }
}



/* home page gallery */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    background-color: rgb(241, 234, 189);
    width: 1100px;
    max-width: 1800px;
    max-height: 335px;
    height: 90vh;
    margin: 30px auto;
    grid-gap: 5px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows:repeat(2, 1fr);
}

.box{
    background-color: #2ad8f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box.one{
    grid-column: span 6;
    grid-row :span 2;
    background-image: url("../images/eoac1.jpg");
}
.box.two{
    /* 3,1 */
    grid-column: 7/span 4;
    grid-row: span 1;
    background-image: url("../images/banner2.jpg");
}
.box.three{
    grid-column: 11 / span 2;
    grid-row: 1 / span 1;
    background-image: url("../images/eoac3.jpg");
}
.box.four{
    grid-column: 13 / span 2;
    grid-row: 1 / span 1;
    background-image: url("../images/eoac4.jpg");
}
.box.five{
    grid-column: 7 / span 2;
    grid-row: 2 / span 1;
    background-image: url("../images/banner7.jpg");
}
.box.six{
    grid-column: 9/span 2;
    grid-row: span 2;
    background-image: url("../images/banner8.jpg");
    height: 162px;
}
.box.seven{
    grid-column: 11 / span 4;
    grid-row: 2;
    background-image: url("../images/eoac8.jpg");
}


/* end gallery*/