@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Abhaya Libre:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

body {
  background: url("/assets/bgbg.png") center center no-repeat fixed;
  background-size: cover;
}
p {
  font-family: 'Lato';
  font-size: 18px;
}
.image-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.text-box h2 {
  font-size: 140px;
  color: #e74902;
  font-family: 'Abhaya Libre';
}
.p1 {
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
}
.p2 {
  color: #ABB1BF;
  margin-bottom: 25px;
}
a, a:hover{
  color: #000;
  text-decoration: none;
}
.fas {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .image-holder {
    display: block;
    height: 100%;
    margin: 25px 0;
    max-width: 100%;
  }
  .image,.text-box {
    text-align: center;
  }
}