<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<textarea id="content" rows="30" style="width:100%">

</textarea>

<button onclick="start()" id="start">Start</button>

<textarea id="result" rows="30" style="width:100%"></textarea>

<script>
    function start(){
        let htmlContent = document.getElementById("content").value;
        let htmlDocument =  document.implementation.createHTMLDocument("Laravel Changer");
        htmlDocument.body.innerHTML = htmlContent;
        console.log(htmlDocument);

        for(let i = 0; i < htmlDocument.all.length; i++){

            if(htmlDocument.all[i].nodeName === "IMG"){
                let oldUrl = htmlDocument.all[i].src;
                if(oldUrl === "about:blank#") oldUrl = "/";
                htmlDocument.all[i].src = "{{url('" + oldUrl + "')}}";

                // console.log(htmlDocument.all[i]);
            }

            if(htmlDocument.all[i].nodeName === "SCRIPT"){
                let oldUrl = htmlDocument.all[i].src;
                if(oldUrl === "about:blank#") oldUrl = "/";
                htmlDocument.all[i].src = "{{url('" + oldUrl + "')}}";
            }

            if(htmlDocument.all[i].nodeName === "A" || htmlDocument.all[i].nodeName === "LINK"){
                let oldUrl = htmlDocument.all[i].href;
                if(oldUrl === "about:blank#") oldUrl = "/";
                htmlDocument.all[i].href = "{{url('" + oldUrl + "')}}";
            }
        }

        console.log(htmlDocument.body.innerHTML);
        let result = document.getElementById("result");
        result.value = htmlDocument.body.innerHTML;

    }


</script>
</body>
</html>
